.div,
.groupIcon {
  position: relative;
}
.div {
  letter-spacing: 0.2px;
  line-height: 26px;
  font-weight: 600;
  display: inline-block;
  min-width: 27px;
}
.groupIcon {
  width: 18px;
  height: 10px;
  object-fit: cover;
}
.groupWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
}
.groupIcon1 {
  width: 15.3px;
  height: 11px;
  position: relative;
  object-fit: cover;
}
.groupContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
}
.groupIcon2 {
  align-self: stretch;
  width: 27px;
  position: relative;
  max-height: 100%;
  min-height: 13px;
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-7xs-4);
}
.typestatusBarThemedarkCInner {
  width: 71px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-7xs);
  box-sizing: border-box;
}
.typestatusBarThemedarkC {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-4xs) var(--padding-4xl);
  flex-shrink: 0;
  debug_commit: 1de1738;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--body-large-semibold-size);
  color: var(--others-white);
  font-family: var(--body-large-semibold);
}
.theFutu {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 160%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 92px;
}
.iconlycurvedoutlineedit {
  height: 24px;
  width: 24px;
  position: relative;
}
.autoLayoutHorizontal1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-7xs) var(--padding-10xs) 0;
  gap: var(--gap-5xs);
}
.iconlyregularoutlineshow {
  height: 16px;
  width: 16px;
  position: relative;
  object-fit: contain;
}
.preview {
  position: relative;
  font-size: var(--body-small-semibold-size);
  letter-spacing: 0.2px;
  line-height: 160%;
  display: inline-block;
  font-family: var(--body-large-semibold);
  color: var(--others-white);
  text-align: center;
  min-width: 45px;
}
.autoLayoutHorizontal3,
.autoLayoutVertical1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.autoLayoutHorizontal3 {
  flex-direction: row;
  gap: var(--gap-7xs);
}
.autoLayoutVertical1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) 16px;
  background-color: var(--dark-dark-5);
  border-radius: var(--br-81xl);
  flex-direction: column;
}
.autoLayoutVertical2 {
  height: 39px;
  width: 85px;
}
.iconellipsisVComponentadd {
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.autoLayoutHorizontal,
.autoLayoutHorizontal2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-xs);
}
.autoLayoutHorizontal {
  align-self: stretch;
  justify-content: flex-start;
  padding: 4.5px 0;
  gap: var(--gap-base);
}
.darktrueComponentdividerIcon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  flex-shrink: 0;
}
.iconsceneComponentaddition {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.scene {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 160%;
  font-weight: 500;
}
.autoLayoutVertical4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  min-width: 59px;
  max-width: 60px;
}
.iconaspectRatio2Component {
  margin: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.aspectR {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 160%;
  font-weight: 500;
  display: inline-block;
  min-width: 60.3px;
}
.autoLayoutVertical5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  min-width: 59px;
  max-width: 60px;
}
.iconlyregularoutlineprofile {
  width: 20px;
  height: 20px;
  position: relative;
}
.avatar {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 160%;
  font-weight: 500;
}
.autoLayoutVertical6 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  min-width: 59px;
  max-width: 60px;
}
.iconlyregularoutlinevoice {
  width: 20px;
  height: 20px;
  position: relative;
  object-fit: contain;
}
.voice {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 160%;
  font-weight: 500;
}
.autoLayoutVertical7 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  min-width: 59px;
  max-width: 60px;
}
.iconlyregularoutlineimage3 {
  width: 20px;
  height: 20px;
  position: relative;
  object-fit: contain;
}
.backgro {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 160%;
  font-weight: 500;
  display: inline-block;
  min-width: 60.3px;
}
.autoLayoutVertical8 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  min-width: 59px;
  max-width: 60px;
}
.iconmusic2Componentadditi {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.music {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 160%;
  font-weight: 500;
}
.autoLayoutVertical9 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  min-width: 59px;
  max-width: 60px;
}
.autoLayoutHorizontal4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.dividerIcon,
.icontextSize2Componentad {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.dividerIcon {
  align-self: stretch;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.icontextSize2Componentad {
  width: 20px;
  height: 20px;
}
.text {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 160%;
  font-weight: 500;
}
.autoLayoutVertical10 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  min-width: 72px;
  max-width: 73px;
}
.iconshapesComponentadditio {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.shape {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 160%;
  font-weight: 500;
}
.autoLayoutVertical11 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  min-width: 72px;
  max-width: 73px;
}
.iconlyregularoutlineedit {
  width: 20px;
  height: 20px;
  position: relative;
  object-fit: contain;
}
.pen {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 160%;
  font-weight: 500;
}
.autoLayoutVertical12 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  min-width: 72px;
  max-width: 73px;
}
.iconlyregularoutlineimage {
  width: 20px;
  height: 20px;
  position: relative;
  object-fit: contain;
}
.media {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 160%;
  font-weight: 500;
}
.autoLayoutVertical13 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  min-width: 72px;
  max-width: 73px;
}
.iconlyregularoutlinevoice3 {
  width: 20px;
  height: 20px;
  position: relative;
  object-fit: contain;
}
.record {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 160%;
  font-weight: 500;
}
.autoLayoutVertical14 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  min-width: 72px;
  max-width: 73px;
}
.autoLayoutHorizontal5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.darktrueComponentdividerIcon1 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  flex-shrink: 0;
}
.iconhandTapComponentaddit {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.gesture {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 160%;
  font-weight: 500;
}
.autoLayoutVertical15 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  min-width: 72px;
  max-width: 73px;
}
.iconlyregularoutlinetimeCi {
  width: 20px;
  height: 20px;
  position: relative;
  object-fit: contain;
}
.pause {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 160%;
  font-weight: 500;
}
.autoLayoutVertical16 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  min-width: 72px;
  max-width: 73px;
}
.iconlyregularoutlinearrow {
  width: 20px;
  height: 20px;
  position: relative;
  object-fit: contain;
}
.marker {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 160%;
  font-weight: 500;
}
.autoLayoutVertical17 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  min-width: 72px;
  max-width: 73px;
}
.iconlyregularoutlinedocumen {
  width: 20px;
  height: 20px;
  position: relative;
  object-fit: contain;
}
.diction {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 160%;
  font-weight: 500;
}
.autoLayoutVertical18 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  min-width: 72px;
  max-width: 73px;
}
.iconhighlighterComponentad {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.highlight {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 160%;
  font-weight: 500;
}
.autoLayoutVertical19 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  min-width: 72px;
  max-width: 73px;
}
.autoLayoutHorizontal6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.darktrueComponentdividerIcon2 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  flex-shrink: 0;
}
.script {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 37px;
}
.iconplayFilledComponentad {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.playSpace {
  position: relative;
  font-size: var(--body-small-semibold-size);
  letter-spacing: 0.2px;
  line-height: 160%;
  font-weight: 500;
  font-family: var(--body-large-semibold);
  color: var(--others-white);
  text-align: center;
  display: inline-block;
  min-width: 73px;
  white-space: nowrap;
}
.autoLayoutHorizontal8,
.autoLayoutVertical21 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.autoLayoutHorizontal8 {
  flex-direction: row;
  gap: var(--gap-7xs);
}
.autoLayoutVertical21 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-3xs);
  background-color: var(--dark-dark-5);
  border-radius: var(--br-81xl);
  flex-direction: column;
}
.autoLayoutHorizontal7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.label {
  align-self: stretch;
  height: 29px;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 160%;
  font-weight: 600;
  display: none;
}
.artificialIntelligenceAi,
.asWeLook,
.blankLine,
.blankLine1,
.fromAutonomousVehicles {
  margin: 0;
}
.loremIpsum {
  height: 364px;
  flex: 1;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 160%;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.autoLayoutHorizontal9 {
  align-self: stretch;
  border-radius: 12px;
  background-color: var(--dark-dark-3);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 18px var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--body-large-semibold-size);
}
.inputFormtextAreaStatefi {
  gap: var(--gap-5xs);
  color: var(--others-white);
}
.autoLayoutVertical20,
.autoLayoutVertical3,
.inputFormtextAreaStatefi,
.statefilledDarktrueCompo {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.autoLayoutVertical20 {
  gap: var(--gap-base);
  flex-shrink: 0;
  text-align: left;
  font-size: var(--body-xlarge-medium-size);
  color: var(--greyscale-50);
}
.autoLayoutVertical3,
.statefilledDarktrueCompo {
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--body-small-semibold-size);
}
.statefilledDarktrueCompo {
  align-items: center;
  text-align: left;
  font-size: var(--h5-bold-size);
  color: var(--others-white);
  font-family: var(--body-large-semibold);
}
.autoLayoutVertical,
.darkEditVideo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.autoLayoutVertical {
  align-self: stretch;
  padding: var(--padding-xs) var(--padding-5xl);
  flex-shrink: 0;
  debug_commit: 1de1738;
  max-width: 100%;
}
.darkEditVideo {
  width: 100%;
  height: 932px;
  position: relative;
  background-color: var(--dark-dark-1);
  overflow: hidden;
  padding: 0 0 888px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 411px) {
  .autoLayoutHorizontal {
    flex-wrap: wrap;
  }
  .darkEditVideo {
    height: auto;
  }
}
