.iconlysharpboldtickSquare {
  height: 60px;
  width: 60px;
  position: relative;
}
.iconlysharpboldtickSquareWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.yourAiVideo {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 160%;
  font-weight: 700;
  font-family: inherit;
}
.scene18Ratio169Select {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle {
  height: 215px;
  width: 382px;
  position: relative;
  backdrop-filter: blur(1px);
  background-color: var(--color-gray-200);
  display: none;
  max-width: 100%;
  z-index: 1;
}
.genderwomanAvatar15Woman {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.iconplayFilledComponentad {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.autoLayoutHorizontal {
  position: absolute;
  top: 61px;
  left: 73px;
  box-shadow: 0 20px 100px rgba(0, 0, 0, 0.16),
    0 20px 200px rgba(4, 6, 15, 0.08);
  border-radius: var(--br-981xl);
  background-color: var(--color-whitesmoke-100);
  width: 44px;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  z-index: 2;
}
.genderwomanAvatar15WomanParent {
  height: 190px;
  flex: 1;
  position: relative;
  min-width: 123px;
}
.div {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 160%;
  font-weight: 600;
  display: inline-block;
  min-width: 36px;
  white-space: nowrap;
}
.autoLayoutHorizontal1 {
  backdrop-filter: blur(20px);
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-300);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-7xs);
  z-index: 1;
}
.autoLayoutHorizontalWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-xs);
}
.nowYouCan,
.sceneSettings {
  align-self: stretch;
  position: relative;
}
.sceneSettings {
  background-color: var(--greyscale-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-6xl) var(--padding-xs) 0 var(--padding-77xl);
  box-sizing: border-box;
  gap: var(--gap-17xl);
  max-width: 100%;
  font-size: var(--body-medium-medium-size);
}
.nowYouCan {
  font-size: var(--body-xlarge-medium-size);
  letter-spacing: 0.2px;
  line-height: 160%;
  font-weight: 500;
  color: var(--greyscale-50);
}
.elementsgenerateVideoComple {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--h4-bold-size);
  color: var(--others-white);
  font-family: var(--body-large-semibold);
}
@media screen and (max-width: 382px) {
  .sceneSettings {
    gap: var(--gap-lg);
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .elementsgenerateVideoComple {
    gap: var(--gap-base);
  }
}
